<div id="transaction_modal_box" class="transaction_modal_box">
    <!-- 头部-->
    <div class="modal-dialog-container">
        <div class="md-title">
            待办业务 ><span>新增</span>
            <a href="#" class="md-close close-popdown"></a>
        </div>
        <div class="md-main-content">
            <div class="md-error">输入字段不符合要求！</div>
            <div class="md-units">
                <dl class="md-dl-unit">
                    <dt class="md-unit-dt">单位</dt>
                    <dd class="md-unit-dd">
                        <select class="md-unit-dd">
                            <option>事业单位1</option>
                            <option>事业单位2</option>
                            <option>事业单位3</option>
                        </select>
                    </dd>
                </dl>
                <dl class="md-dl-unit">
                    <dt class="md-unit-dt">创建结束时间</dt>
                    <dd class="md-unit-dd"><input  class="md-unit-dd search-udd-error" value="时间选择错误"></dd>
                </dl>
                <dl class="md-dl-unit">
                    <dt class="md-unit-dt">单位</dt>
                    <dd class="md-unit-dd">
                        <select class="md-unit-dd">
                            <option>事业单位1</option>
                            <option>事业单位2</option>
                            <option>事业单位3</option>
                        </select>
                    </dd>
                </dl>
                <dl class="md-dl-unit">
                    <dt class="md-unit-dt">创建结束时间</dt>
                    <dd class="md-unit-dd"><input  class="md-unit-dd search-udd-error" value="时间选择错误"></dd>
                </dl>
                <dl class="md-dl-unit">
                    <dt class="md-unit-dt">单位</dt>
                    <dd class="md-unit-dd">
                        <select class="md-unit-dd">
                            <option>事业单位1</option>
                            <option>事业单位2</option>
                            <option>事业单位3</option>
                        </select>
                    </dd>
                </dl>
                <dl class="md-dl-unit">
                    <dt class="md-unit-dt">创建结束时间</dt>
                    <dd class="md-unit-dd"><input  class="md-unit-dd search-udd-error" value="时间选择错误"></dd>
                </dl>
                <dl class="md-dl-unit">
                    <dt class="md-unit-dt">单位</dt>
                    <dd class="md-unit-dd">
                        <select class="md-unit-dd">
                            <option>事业单位1</option>
                            <option>事业单位2</option>
                            <option>事业单位3</option>
                        </select>
                    </dd>
                </dl>
                <dl class="md-dl-unit">
                    <dt class="md-unit-dt">创建结束时间</dt>
                    <dd class="md-unit-dd"><input  class="md-unit-dd search-udd-error" value="时间选择错误"></dd>
                </dl>
                <dl class="md-dl-unit">
                    <dt class="md-unit-dt">单位</dt>
                    <dd class="md-unit-dd">
                        <select class="md-unit-dd">
                            <option>事业单位1</option>
                            <option>事业单位2</option>
                            <option>事业单位3</option>
                        </select>
                    </dd>
                </dl>
                <dl class="md-dl-unit">
                    <dt class="md-unit-dt">创建结束时间</dt>
                    <dd class="md-unit-dd"><input  class="md-unit-dd search-udd-error" value="时间选择错误"></dd>
                </dl>

            </div>
            <div class="md-btn">
                <a href="#" class="md-btn-save close-popdown">保存</a>
                <a href="#" class="md-btn-cancel close-popdown">取消</a>
            </div>
        </div>

    </div>
    <!-- 内容-->


</div>
