<div id="transaction_modal_box" class="big-madal-dialog transaction_modal_box">
    <!-- 头部-->
    <div class="modal-dialog-container">
        <div class="md-title">
            大模态框布局解释
            <a href="#" class="md-close close-popdown"></a>
        </div>
        <div class="md-error">
            <p>以下信息有误,请重新输入</p>
            <span>输入字段不符合要求</span>
        </div>
        <!-- 内容-->
        <div class="md-main-content">
            主内容区域宽度为页面宽度80%，默认设置可支持的最大高度为470(可自行设置)，有滚动条。
        </div>
        <div class="md-btn">
            <button class="md-btn-save close-popdown">保存</button>
            <button class="md-btn-cancel close-popdown">取消</button>
        </div>
    </div>
</div>
