<div id="transaction_modal_box" class="transaction_modal_box">
    <div class="modal-dialog-container">
    <div class="md-title">
        普通模态框布局解释
        <a href="#" class="md-close close-popdown"></a>
    </div>
    <div class="md-instructions"><span>使用说明 :</span>左侧为已导入的人员信息表中的字典项；右侧为系统当前已支持的字典项，请选择字典项进行字典映射。</div>
    <div class="md-main-content dictionary-map">
        <div class="left-content">
            <div class="leftnav-fold">用户字典</div>
            <ul class="left-nav">
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">性别</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">人员状态</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">人员类别</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">民族</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">专业技术资格名称</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">专业技术资格等级</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">性别</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">人员状态</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">人员类别</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli  active">
                    <a class="ln-firstli-a" href="#">民族</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">专业技术资格名称</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">专业技术资格等级</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">性别</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">人员状态</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">人员类别</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">民族</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">专业技术资格名称</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">专业技术资格等级</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">性别</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">人员状态</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">人员类别</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">民族</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">专业技术资格名称</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">专业技术资格等级</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">性别</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">人员状态</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">人员类别</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">民族</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">专业技术资格名称</a>
                    <span class="tips-num">3</span>
                </li>
                <li class="ln-firstli">
                    <a class="ln-firstli-a" href="#">专业技术资格等级</a>
                    <span class="tips-num">3</span>
                </li>
            </ul>
        </div>
        <div class="right-content">
            <ul class="c-nav-tab clearfix">
                <li><a class="c-navtab-selected">待映射</a></li>
                <li><a>已映射</a></li>
            </ul>
            <div class="person-map-table">
                <div class="person-map-table-line"></div>
                <table class="sr-table">
                    <thead class="sr-table-thead">
                    <tr>
                        <th>导入值</th>
                        <th>标准值</th>
                    </tr>
                    </thead>
                    <tbody class="sr-table-tbody">
                    <tr>
                        <td>001</td>
                        <td><select><option>男</option><option>女</option></select></td>
                    </tr>
                    <tr>
                        <td>002</td>
                        <td><select><option>女</option><option>男</option></select></td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td><select><option>男</option><option>女</option></select></td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td><input type="text" value="内科"></td>
                    </tr>
                    <tr>
                        <td>004</td>
                        <td><select><option>女</option><option>男</option></select></td>
                    </tr>
                    <tr>
                        <td>姓名<span>*</span></td>
                        <td><select><option>姓名</option></select></td>
                    </tr>
                    <tr>
                        <td>姓名<span>*</span></td>
                        <td><select><option>姓名</option></select></td>
                    </tr>
                    <tr>
                        <td>姓名<span>*</span></td>
                        <td><select><option>姓名</option></select></td>
                    </tr>

                    <!--<tr>-->
                        <!--<td>性别</td>-->
                        <!--<td><select><option>性别</option></select></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>出生日期</td>-->
                        <!--<td><select><option>出生日期</option></select></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>出生日期</td>-->
                        <!--<td><select><option>出生日期</option></select></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>出生日期</td>-->
                        <!--<td><select><option>出生日期</option></select></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>出生日期</td>-->
                        <!--<td><select><option>出生日期</option></select></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>出生日期</td>-->
                        <!--<td><select><option>出生日期</option></select></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>出生日期</td>-->
                        <!--<td><select><option>出生日期</option></select></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>出生日期</td>-->
                        <!--<td><select><option>出生日期</option></select></td>-->
                    <!--</tr>-->
                    </tbody>
                </table>
                <div class="person-map-table-btn clearfix"><button class="btn-search btn-default">保存</button></div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    $(function() {
        $(".dictionary-map .left-nav .ln-firstli").click(function () {
            $(this).siblings("li").removeClass("active");
            $(this).addClass("active");
        });

        personMapTableHeight();

        $(window).resize(
            function(){
                personMapTableHeight();
            }
        );

        function personMapTableHeight() {
            var personMapTableMaxHeight = $(".md-main-content").height()-$(".c-nav-tab").outerHeight(true)-40;
            var personMapTableRealHeight = $(".person-map-table").height();
            console.log(personMapTableMaxHeight+";"+personMapTableRealHeight);
            if (personMapTableRealHeight>personMapTableMaxHeight){
                $(".person-map-table .sr-table tbody").height(personMapTableMaxHeight-$('.person-map-table-btn').outerHeight(true)-$('.person-map-table .sr-table thead').outerHeight(true));
            }
        }
    });
</script>