<div id="transaction_modal_box" class="small-modal-dialog transaction_modal_box">
    <!-- 头部-->
    <div class="modal-dialog-container">
        <div class="md-title">
            提示
            <a href="#" class="md-close close-popdown"></a>
        </div>

        <div class="md-main-content">
           <div class="md-sure-tips">请确认是否删除记录</div>
        </div>
        <div class="md-btn">
            <button class="md-btn-save close-popdown">确定</button>
            <button class="md-btn-cancel close-popdown">取消</button>
        </div>
    </div>
    <!-- 内容-->


</div>
