@charset "utf-8";
/* 
	重置页面默认CSS
	引入文件时，应放在CSS中的第一个
*/
.clean{ clear:both; height:0; font-size: 1px; line-height: 0px; overflow:hidden; padding:0}
.clear:after{display:block;clear:both;height:0px;margin-top:-1px;content:''}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,p {padding: 0;margin: 0;}
table {border-collapse: collapse;border-spacing: 0;}
a{ cursor:pointer;color:#000;text-decoration:none}
fieldset,img {border: 0;}
address,caption,cite,code,dfn,em,strong,th,var,i {font-weight: normal;font-style: normal;}
ol,ul {list-style: none;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6,i {font-weight: normal;font-size: 100%;}
q:before,q:after {content:'';}
abbr,acronym { border: 0;} 
body,button,input,select,table,textarea{font: normal 100% 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;font-size:16px;line-height:1.25em;}
body{ height:100%; font: normal 100% 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif; }
.clear{clear: both;}