<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="messageBoardFacade" parent="txnProxyParent">
    <property name="target">
       <bean class="com.yh.admin.message.facade.impl.MessageBoardFacadeImpl">
        <property name="messageBoardService">
          <ref bean="messageBoardService" />
        </property>   
      </bean>
    </property>
  </bean>
  <bean id="messageBoardService" class="com.yh.admin.message.service.impl.MessageBoardServiceImpl" />
</beans>