<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- 编制资源查询  -->
	<bean id="hrHcCashFacade" parent="txnProxyParent">
		<property name="target">
			<bean class="com.yh.hr.hc.info.facade.HrHcCashFacade">
				<property name="hcCashService" ref="hcCashService" />
			</bean>
		</property>
	</bean>
</beans>