<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge" >
    <title>查询栏</title>
    <link rel="stylesheet" href="../../css/common/reset.css">
    <link rel="stylesheet" href="../../css/common/base.css">
    <link rel="stylesheet" href="../../css/cydefinied.css">
    <link rel="stylesheet" href="../../css/components/search_unit.css">
</head>
<body style="background: #edf0f5;">

    <!--包含高级查询栏样式-->
    <div class="search-content">
        <div class="search-selected clearfix">
            <div class="search-selected-title">全部结果 > </div>
            <div class="search-selected-cont">
                <ul class="search-selected-item clearfix">
                    <li><span>单位:事业单位</span><span class="search-selected-close"></span></li>
                    <li><span>单位:事业事业单位</span><span class="search-selected-close"></span></li>
                    <li><span>事业事业单位</span><span class="search-selected-close"></span></li>
                    <li><span>事业单位</span><span class="search-selected-close"></span></li>
                    <li><span>事业单位</span><span class="search-selected-close"></span></li>
                    <li><span>事业单位</span><span class="search-selected-close"></span></li>
                    <li><span>事业事业单位1</span><span class="search-selected-close"></span></li>
                    <li><span>事业单位2</span><span class="search-selected-close"></span></li>
                    <li><span>事业单位3</span><span class="search-selected-close"></span></li>
                    <li><span>事业单位4</span><span class="search-selected-close"></span></li>
                    <li><span>事业事业单位5</span><span class="search-selected-close"></span></li>
                    <li><span>事业单位6</span><span class="search-selected-close"></span></li>
                    <li><span>事业单位7</span><span class="search-selected-close"></span></li>
                    <li><span>事业单位8</span><span class="search-selected-close"></span></li>
                    <li><span>事业事业单位11</span><span class="search-selected-close"></span></li>
                    <li><span>事业单位21</span><span class="search-selected-close"></span></li>
                    <li><span>事业单位31</span><span class="search-selected-close"></span></li>
                    <li><span>事业单位41</span><span class="search-selected-close"></span></li>
                    <li><span>事业事业单位51</span><span class="search-selected-close"></span></li>
                    <li><span>事业单位61</span><span class="search-selected-close"></span></li>
                    <li><span>事业单位71325</span><span class="search-selected-close"></span></li>
                    <li><span>事业单位8132</span><span class="search-selected-close"></span></li>
                    <li><span>事业单位8532</span><span class="search-selected-close"></span></li>
                    <li><span>事业事业单位11352</span><span class="search-selected-close"></span></li>
                    <li><span>事业单位21532</span><span class="search-selected-close"></span></li>
                    <li><span>事业单位31352</span><span class="search-selected-close"></span></li>
                    <li><span>事业单位41532</span><span class="search-selected-close"></span></li>
                    <li><span>事业事业单位51535</span><span class="search-selected-close"></span></li>
                    <li><span>事业单位61453</span><span class="search-selected-close"></span></li>
                    <li><span>事业单位714634</span><span class="search-selected-close"></span></li>
                    <li><span>事业单位81564</span><span class="search-selected-close"></span></li>
                </ul>
            </div>
            <div class="left-group"></div>
            <div class="right-group"></div>
        </div>
        <div class="search-include clearfix">
            <dl class="search-unit">
                <dt class="search-unit-dt">
                    <select>
                        <option>单位</option>
                        <option>性别</option>
                        <option>姓名</option>
                        <option>出生日期</option>
                    </select>
                    <select>
                        <option>等于</option>
                        <option>模糊查询</option>
                        <option>包含</option>
                    </select>
                </dt>
                <dd class="search-unit-dd">
                    <select>
                        <option>事业单位1</option>
                        <option>事业单位2</option>
                        <option>事业单位3</option>
                    </select>
                </dd>
            </dl>
            <dl class="search-unit">
                <dt class="search-unit-dt">
                    <select>
                        <option>科室</option>
                        <option>单位</option>
                        <option>性别</option>
                        <option>姓名</option>
                        <option>出生日期</option>
                    </select>
                    <select>
                        <option>等于</option>
                        <option>模糊查询</option>
                        <option>包含</option>
                    </select>
                </dt>
                <dd class="search-unit-dd">
                    <input type="text">
                    <ul class="s-pulldown-list">
                        <li class="s-pdl-li">麻醉部</li>
                        <li class="s-pdl-li">五官科</li>
                        <li class="s-pdl-li">儿科</li>
                        <li class="s-pdl-li">内科</li>
                        <li class="s-pdl-li">骨科</li>
                        <li class="s-pdl-li">神经科</li>
                        <li class="s-pdl-li">儿科</li>
                        <li class="s-pdl-li">内科</li>
                        <li class="s-pdl-li">骨科</li>
                        <li class="s-pdl-li">神经科</li>
                    </ul>
                </dd>
            </dl>
            <dl class="search-unit">
                <dt class="search-unit-dt">
                    <select>
                        <option>创建时间</option>
                        <option>单位</option>
                        <option>姓名</option>
                        <option>出生日期</option>
                    </select>
                    <select>
                        <option>等于</option>
                        <option>模糊查询</option>
                        <option>包含</option>
                    </select>
                </dt>
                <dd class="search-unit-dd">
                    <input class="search-input-error" type="text" value="2017/02/23">
                </dd>
            </dl>
            <dl class="search-unit search-btns">
                <dt><button>查询</button></dt>
                <dd><button>全部清除</button></dd>
            </dl>

            <button class="search-advanced-btn"><span>高级查询</span></button>

            <div class="search-advanced clearfix">
                <div class="search-advanced-include">
                    <dl class="search-unit">
                        <span class="search-unit-close"></span>
                        <dt class="search-unit-dt">
                            <select>
                                <option>科室</option>
                                <option>单位</option>
                                <option>性别</option>
                                <option>姓名</option>
                                <option>出生日期</option>
                            </select>
                            <select>
                                <option>等于</option>
                                <option>模糊查询</option>
                                <option>包含</option>
                            </select>
                        </dt>
                        <dd class="search-unit-dd">
                            <input type="text">
                            <ul class="s-pulldown-list">
                                <li class="s-pdl-li">麻醉部</li>
                                <li class="s-pdl-li">五官科</li>
                                <li class="s-pdl-li">儿科</li>
                                <li class="s-pdl-li">内科</li>
                                <li class="s-pdl-li">骨科</li>
                                <li class="s-pdl-li">神经科</li>
                                <li class="s-pdl-li">儿科</li>
                                <li class="s-pdl-li">内科</li>
                                <li class="s-pdl-li">骨科</li>
                                <li class="s-pdl-li">神经科</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="search-unit">
                        <span class="search-unit-close"></span>
                        <dt class="search-unit-dt">
                            <select>
                                <option>创建时间</option>
                                <option>单位</option>
                                <option>姓名</option>
                                <option>出生日期</option>
                            </select>
                            <select>
                                <option>等于</option>
                                <option>模糊查询</option>
                                <option>包含</option>
                            </select>
                        </dt>
                        <dd class="search-unit-dd">
                            <input class="search-input-error" type="text" value="2017/02/23">
                        </dd>
                    </dl>
                    <dl class="search-unit search-advanced-add">
                        <dt><img class="search-unit-add" src="../../images/components/search_unit/add-condition.png" height="60" width="60"/></dt>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <!--普通查询栏样式-->
    <div class="search-content">
        <div class="search-include mrb-40 clearfix">
            <dl class="search-unit">
                <dt class="search-unit-dt">工号</dt>
                <dd class="search-unit-dd">
                    <input class="search-input-error" type="text" value="0078">
                </dd>
            </dl>
            <dl class="search-unit">
                <dt class="search-unit-dt">姓名</dt>
                <dd class="search-unit-dd">
                    <input type="text" value="小小张">
                </dd>
            </dl>
            <dl class="search-unit">
                <dt class="search-unit-dt">性别</dt>
                <dd class="search-unit-dd">
                    <select><option>男</option><option>女</option></select>
                </dd>
            </dl>
            <dl class="search-unit">
                <dt class="search-unit-dt"></dt>
                <dd class="search-unit-dd"></dd>
            </dl>
            <dl class="search-unit">
                <dt class="search-unit-dt">岗位</dt>
                <dd class="search-unit-dd">
                    <input type="text">
                    <ul class="s-pulldown-list multiple-choice">
                        <li class="s-pdl-li">麻醉部</li>
                        <li class="s-pdl-li">五官科</li>
                        <li class="s-pdl-li" title="儿科神经科神经科神经科神经科神经科神经科">儿科神经科神经科神经科神经科神经科神经科</li>
                        <li class="s-pdl-li">内科</li>
                        <li class="s-pdl-li">骨科</li>
                        <li class="s-pdl-li">神经科</li>
                        <li class="s-pdl-li">儿科</li>
                        <li class="s-pdl-li">内科</li>
                        <li class="s-pdl-li">骨科</li>
                        <li class="s-pdl-li">神经科</li>
                    </ul>
                </dd>
            </dl>
            <dl class="search-unit">
                <dt class="search-unit-dt">科室</dt>
                <dd class="search-unit-dd">
                    <input type="text">
                    <ul class="s-pulldown-list single-choice">
                        <li class="s-pdl-li">麻醉部</li>
                        <li class="s-pdl-li">五官科</li>
                        <li class="s-pdl-li">儿科</li>
                        <li class="s-pdl-li">内科</li>
                        <li class="s-pdl-li">骨科</li>
                        <li class="s-pdl-li">神经科</li>
                        <li class="s-pdl-li">儿科</li>
                        <li class="s-pdl-li">内科</li>
                        <li class="s-pdl-li">骨科</li>
                        <li class="s-pdl-li">神经科</li>
                    </ul>
                </dd>
            </dl>
            <dl class="search-unit">
                <dt class="search-unit-dt">业务状态</dt>
                <dd class="search-unit-dd">
                    <input class="search-input-error" type="text" value="2017/02/23">
                </dd>
            </dl>
            <dl class="search-unit search-btns">
                <dt><button>查询</button></dt>
            </dl>
        </div>
    </div>

</body>
<script src="../../js/jquery-1.12.4.js"></script>
<script src="../../js/components/search_unit.js"></script>
</html>