<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="x-ua-compatible" content="IE=Edge" >
    <meta charset="utf-8">
    <title>医院首页</title>
    <link rel="stylesheet" href="../../css/common/reset.css">
    <link rel="stylesheet" href="../../css/common/base.css">
    <link rel="stylesheet" href="../../css/common/layout.css">
    <link rel="stylesheet" href="../../css/layout/index.css">
    <link rel="stylesheet" href="../../css/components/handle_btn.css">
    <link rel="stylesheet" href="../../css/components/search_result_table.css">
    <link rel="stylesheet" href="../../css/layout/people_column.css">
</head>
<body>

<div id="head-nav"></div>
<div class="current-position">当前位置 : <span>首页</span></div>

<div class="main-container">

    <!--<div class="left-content">-->
        <!--<div class="img-text">-->
            <!--<img class="it-img" src="../../images/index/portrait.png"/>-->
            <!--<span class="p-name">张医师</span>-->
            <!--<span class="p-position">主任医师<div class="arrow-down"></div></span>-->
        <!--</div>-->
        <!--<ul class="p-nav">-->
            <!--<li><a class="p-set" href="#">设置</a></li>-->
            <!--<li><a class="p-menu" href="#">定制菜单</a></li>-->
        <!--</ul>-->
    <!--</div>-->

    <div class="right-content" id="index-main-id">

        <div class="imain-list il-notice" id="index-top-id">
            <div class="img-text">
                <img class="il-it-img" src="../../images/index/notice.png"/>
                <span class="il-it-title">通知</span>
                <span class="il-it-num">10</span>
            </div>
            <div class="index-tabs clearfix" id="drag-container-id1">
                <div class="i-tab-left" id="drag-left-id1">
                    <ul class="i-tab-ul">
                        <li><a href="javascript:void(0);" class="i-tab-selected">
                            <span class="i-tab-title">年度考核结果</span>
                            <span class="i-tab-time">2017-04-05</span>
                            <span class="i-tab-author">小小张</span>
                        </a></li>
                        <li><a href="javascript:void(0);">
                            <span class="i-tab-title">岗位设置方案结果</span>
                            <span class="i-tab-time">2017-04-05</span>
                            <span class="i-tab-author">魍魉小张</span>
                        </a></li>
                        <li><a href="javascript:void(0);">
                            <span class="i-tab-title" title="年度考核结果年度考核结果年度考核结果">年度考核结果年度考核结果年度考核结果</span>
                            <span class="i-tab-time">2017-04-05</span>
                            <span class="i-tab-author">小小张</span>
                        </a></li>
                    </ul>
                    <div class="i-tab-page"><span class="page-num">1/4</span><span class="page-handle"> < </span><span class="page-handle"> > </span></div>
                </div>
                <div class="tabs-line" id="drag-line-id1"></div>
                <div id="drag-right-id1" class="i-tab-content">
                    <h1>年度考核结果1</h1>
                    <p>对公务员的考核，以公务员的职位职责和所承担的工作任务为基本依据，全面考核德、能、勤、绩、廉，重点考核工作实绩。对公务员的考核，以公务员的职位职责和所承担的工作任务为基本依据，全面考核德、能、勤、绩、廉，重点考核工作实绩。</p>
                    <p>德，是指思想政治素质及个人品德、职业道德、社会公德等方面的表现。</p>
                    <p>能，是指履行职责的业务素质和能力。</p>
                    <p>勤，是指责任心、工作态度、工作作风等方面的表现。</p>
                    <p>绩，是指完成工作的数量、质量、效率和所产生的效益。</p>
                    <p>廉，是指廉洁自律等方面的表现.</p>
                </div>
            </div>
        </div>
        <div class="index-line" id="index-line-id"><img src="../../images/index/drag-up-down.png"/></div>
        <div class="imain-list il-warning" id="index-bottom-id">
            <div class="img-text">
                <img class="il-it-img" src="../../images/index/warning.png"/>
                <span class="il-it-title">预警</span>
            </div>

            <div class="index-tabs clearfix" id="drag-container-id2">
                <div class="i-tab-left" id="drag-left-id2">
                    <ul class="i-tab-ul">
                        <li><a href="javascript:void(0);">
                            <span class="i-tab-title">合同到期列表<span>47</span></span>
                            <span class="i-tab-num warning-level-3">9</span>
                            <span class="i-tab-num warning-level-2">19</span>
                            <span class="i-tab-num warning-level-1">29</span>
                        </a></li>
                        <li><a href="javascript:void(0);">
                            <span class="i-tab-title">退休年龄列表<span>37</span></span>
                            <span class="i-tab-num warning-level-3">9</span>
                            <span class="i-tab-num warning-level-2">19</span>
                            <span class="i-tab-num warning-level-1">39</span>
                        </a></li>
                    </ul>
                    <div class="i-tab-page"><span class="page-num">1/4</span><span class="page-handle"> < </span><span class="page-handle"> > </span></div>
                </div>
                <div class="tabs-line" id="drag-line-id2"></div>
                <div id="drag-right-id2" class="i-tab-content">
                    <div class="pcs-search">
                        <span class="pcs-symbol">姓名</span>
                        <input class="pcs-input" type="text">
                        <span class="pcs-symbol">预警天数</span>
                        <input class="pcs-input" type="text">
                        <span class="pcs-symbol mr15">预警天数：<span>60</span></span>
                        <button class="btn-search btn-search-icon btn-default">查询</button>
                        <button class="btn-search btn-export-icon btn-default">导出</button>
                    </div>
                    <div class="search-result-table warning-table">
                        <table class="sr-table">
                            <thead class="sr-table-thead">
                            </thead>
                            <tbody class="sr-table-tbody">
                            </tbody>
                        </table>
                        <div class="sr-table-page">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li>第<input type="text" value="1235" class="input_page">页</li>
                                <li>共2页</li>
                                <li><a href="#">&gt;</a></li>
                                <li class="page-text">共有<span>12</span>条记录.当前显示<span>1- 9</span>条记录</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

</body>
<script src="../../js/jquery-1.12.4.js"></script>
<!--<script src="../../js/jquery-ui.js"></script>-->
<script src="../../js/plugin/jadeforturepull_top_bottom.js"></script>
<script>
    $(function() {
        $('#head-nav').load('../components/head_nav.html',{},function(){
            eachAreaHeight();
        });

        // 页面加载后各区域的高度设置
        function eachAreaHeight() {
            var windowHeight = $(window).height();
            //主内容区高度
            $('.main-container').height(windowHeight - $('.head-nav').outerHeight(true) - $('.current-position').outerHeight(true)- 2);
        }

        $(window).resize(
            function () {
                eachAreaHeight();
            }
        );

        // 上下拖动div
        $.drag_top_bottom("index-main-id","index-top-id","index-bottom-id","index-line-id");
        // 左右拖动div
        $.drag_left_right("drag-container-id1","drag-left-id1","drag-right-id1","drag-line-id1");
        $.drag_left_right("drag-container-id2","drag-left-id2","drag-right-id2","drag-line-id2");

        // 预警数据集表格项warning-table中插入数据
        $.ajax({
            url: "../json_data.json",//json文件位置
            type: "GET",//请求方式为get
            dataType: "json", //返回数据格式为json
            success: function(data) {//请求成功完成后要执行的方法
                //each循环 使用$.each方法遍历返回的数据date
                var index=1;
                $.each(data.pcstemplateData, function(i, item) {
                    if (i==0){/*添加表头*/
                        var str = '<tr><th class="md-th"></th><th class="md-th"><input type="checkbox"></th><th> ' +
                            item.fname + '</th><th>' + item.ftable + '</th><th>'+
                            item.ftype+'</th><th>' + item.fcodetype + '</th></tr>';
                        $('.warning-table .sr-table-thead').append(str);
                    }else{/*添加表体数据*/
                        var str = '<tr><td class="md-th">'+index+'</td><td class="md-th"><input type="checkbox"></td><td> ' +
                            item.fname + '</td><td>' + item.ftable + '</td><td>'+
                            item.ftype+'</td><td>'+ item.fcodetype+'</td></tr>';
                        $('.warning-table .sr-table-tbody').append(str);
                        index ++;
                    }
                });
            }
        });

        // 给数据集查询结果表格添加点击事件
        $(document).on('click','.sr-table-tbody tr',function () {
            $(this).addClass('sr-tr-selected');
            $(this).siblings('tr').removeClass('sr-tr-selected');
        });

        // 给tab项添加点击事件
        $(document).on('click','.i-tab-ul>li>a',function () {
            $(this).addClass('i-tab-selected');
            $(this).parent('li').siblings('li').children('a').removeClass('i-tab-selected');
        });
    });
</script>
</html>