<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="x-ua-compatible" content="IE=Edge" >
    <meta charset="utf-8">
    <title>左导航</title>
    <link rel="stylesheet" href="../../css/common/reset.css">
    <link rel="stylesheet" href="../../css/common/base.css">
    <link rel="stylesheet" href="../../css/components/left_nav.css">
    <link rel="stylesheet" href="../../css/components/left_nav_nanoscroller.css">
    <link rel="stylesheet" href="../../css/components/search_unit.css">
</head>
<body style="background: #edf0f5; width: 300px;height: 900px;">

    <!--机构树-->
    <div class="nano left-nav-scroll left-nav-include-search">
        <div class="leftnav-fold"><a class="leftnav-flod-icon"></a>部门列表</div>
        <div class="leftnav-search-area">
            <input type="text" placeholder="请输入科室名称">
            <ul class="s-pulldown-list single-choice">
                <li class="s-pdl-li">麻醉部</li>
                <li class="s-pdl-li">五官科</li>
                <li class="s-pdl-li">儿科</li>
                <li class="s-pdl-li">内科</li>
                <li class="s-pdl-li">骨科</li>
                <li class="s-pdl-li">神经科</li>
                <li class="s-pdl-li">儿科</li>
                <li class="s-pdl-li">内科</li>
                <li class="s-pdl-li">骨科</li>
                <li class="s-pdl-li">神经科</li>
            </ul>
            <span class="search-icon"></span>
        </div>
        <div class="nano-content">
            <ul class="left-nav">
                <li class="ln-firstli">
                    <span class="ln-plus-icon"></span>
                    <a class="ln-firstli-a" href="#">医院</a>
                    <ul class="ln-second-nav">
                        <li class="ln-secondli">
                            <span class="ln-line"></span>
                            <span class="ln-plus-icon"></span>
                            <a class="ln-secondli-a" href="#">医疗临床</a>
                            <ul class="ln-third-nav">
                                <li class="ln-thirdli">
                                    <span class="ln-line"></span>
                                    <a class="ln-thirdli-a" href="#">内科门诊</a>
                                </li>
                                <li class="ln-thirdli">
                                    <span class="ln-line"></span>
                                    <span class="ln-plus-icon"></span>
                                    <a class="ln-thirdli-a" href="#">急诊科</a>
                                    <ul class="ln-fourth-nav">
                                        <li class="ln-fourthli">
                                            <span class="ln-line"></span>
                                            <span class="ln-plus-icon"></span>
                                            <a class="ln-fourthli-a" href="#">国家级重点超级长名字特别长名字的科室怎么显示呢</a>
                                            <ul class="ln-fifth-nav">
                                                <li class="ln-fifthli">
                                                    <span class="ln-line"></span>
                                                    <a class="ln-fifthli-a" href="#">西药</a>
                                                </li>
                                                <li class="ln-fifthli">
                                                    <span class="ln-line"></span>
                                                    <a class="ln-fifthli-a" href="#">中药</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="ln-fourthli">
                                            <span class="ln-line"></span>
                                            <a class="ln-fourthli-a" href="#">国家级重点超级长名字特别长名字的科室怎么显示呢</a>
                                        </li>
                                        <li class="ln-fourthli">
                                            <span class="ln-line"></span>
                                            <a class="ln-fourthli-a" href="#">急诊外科注射室</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="ln-thirdli">
                                    <span class="ln-line"></span>
                                    <a class="ln-thirdli-a" href="#">耳鼻喉科</a>
                                </li>
                                <li class="ln-thirdli">
                                    <span class="ln-line"></span>
                                    <a class="ln-thirdli-a" href="#">内科</a>
                                </li>
                                <li class="ln-thirdli">
                                    <span class="ln-line"></span>
                                    <a class="ln-thirdli-a" href="#">消化科</a>
                                </li>
                            </ul>
                        </li>
                        <li class="ln-secondli">
                            <span class="ln-line"></span>
                            <span class="ln-plus-icon"></span>
                            <a class="ln-secondli-a" href="#">口腔科</a>
                            <ul class="ln-third-nav">
                                <li class="ln-thirdli">
                                    <span class="ln-line"></span>
                                    <a class="ln-thirdli-a" href="#">内科门诊</a>
                                </li>
                                <li class="ln-thirdli">
                                    <span class="ln-line"></span>
                                    <span class="ln-plus-icon"></span>
                                    <a class="ln-thirdli-a" href="#">急诊科</a>
                                    <ul class="ln-fourth-nav">
                                        <li class="ln-fourthli">
                                            <span class="ln-line"></span>
                                            <a class="ln-fourthli-a" href="#">急诊外科诊室</a>
                                        </li>
                                        <li class="ln-fourthli">
                                            <span class="ln-line"></span>
                                            <a class="ln-fourthli-a" href="#">急诊外科换药室</a>
                                        </li>
                                        <li class="ln-fourthli">
                                            <span class="ln-line"></span>
                                            <a class="ln-fourthli-a" href="#">急诊外科注射室</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="ln-thirdli">
                                    <span class="ln-line"></span>
                                    <a class="ln-thirdli-a" href="#">耳鼻喉科</a>
                                </li>
                                <li class="ln-thirdli">
                                    <span class="ln-line"></span>
                                    <a class="ln-thirdli-a" href="#">内科</a>
                                </li>
                                <li class="ln-thirdli">
                                    <span class="ln-line"></span>
                                    <a class="ln-thirdli-a" href="#">消化科</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="ln-firstli">
                    <span class="ln-plus-icon"></span>
                    <a class="ln-firstli-a" href="#">B医院</a>
                    <ul class="ln-second-nav">
                        <li class="ln-secondli">
                            <span class="ln-line"></span>
                            <span class="ln-plus-icon"></span>
                            <a class="ln-secondli-a" href="#">医疗临床</a>
                            <ul class="ln-third-nav">
                                <li class="ln-thirdli">
                                    <span class="ln-line"></span>
                                    <a class="ln-thirdli-a" href="#">内科门诊</a>
                                </li>
                                <li class="ln-thirdli">
                                    <span class="ln-line"></span>
                                    <span class="ln-plus-icon"></span>
                                    <a class="ln-thirdli-a" href="#">急诊科</a>
                                    <ul class="ln-fourth-nav">
                                        <li class="ln-fourthli">
                                            <span class="ln-line"></span>
                                            <span class="ln-plus-icon"></span>
                                            <a class="ln-fourthli-a" href="#">急诊外科诊室</a>
                                            <ul class="ln-fifth-nav">
                                                <li class="ln-fifthli">
                                                    <span class="ln-line"></span>
                                                    <a class="ln-fifthli-a" href="#">西药</a>
                                                </li>
                                                <li class="ln-fifthli">
                                                    <span class="ln-line"></span>
                                                    <a class="ln-fifthli-a" href="#">中药</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="ln-fourthli">
                                            <span class="ln-line"></span>
                                            <a class="ln-fourthli-a" href="#">急诊外科换药室</a>
                                        </li>
                                        <li class="ln-fourthli">
                                            <span class="ln-line"></span>
                                            <a class="ln-fourthli-a" href="#">急诊外科注射室</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="ln-thirdli">
                                    <span class="ln-line"></span>
                                    <a class="ln-thirdli-a" href="#">耳鼻喉科</a>
                                </li>
                                <li class="ln-thirdli">
                                    <span class="ln-line"></span>
                                    <a class="ln-thirdli-a" href="#">内科</a>
                                </li>
                                <li class="ln-thirdli">
                                    <span class="ln-line"></span>
                                    <a class="ln-thirdli-a" href="#">消化科</a>
                                </li>
                            </ul>
                        </li>
                        <li class="ln-secondli">
                            <span class="ln-line"></span>
                            <span class="ln-plus-icon"></span>
                            <a class="ln-secondli-a" href="#">口腔科</a>
                            <ul class="ln-third-nav">
                                <li class="ln-thirdli">
                                    <span class="ln-line"></span>
                                    <a class="ln-thirdli-a" href="#">内科门诊</a>
                                </li>
                                <li class="ln-thirdli">
                                    <span class="ln-line"></span>
                                    <span class="ln-plus-icon"></span>
                                    <a class="ln-thirdli-a" href="#">急诊科</a>
                                    <ul class="ln-fourth-nav">
                                        <li class="ln-fourthli">
                                            <span class="ln-line"></span>
                                            <a class="ln-fourthli-a" href="#">急诊外科诊室</a>
                                        </li>
                                        <li class="ln-fourthli">
                                            <span class="ln-line"></span>
                                            <a class="ln-fourthli-a" href="#">急诊外科换药室</a>
                                        </li>
                                        <li class="ln-fourthli">
                                            <span class="ln-line"></span>
                                            <a class="ln-fourthli-a" href="#">急诊外科注射室</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="ln-thirdli">
                                    <span class="ln-line"></span>
                                    <a class="ln-thirdli-a" href="#">耳鼻喉科</a>
                                </li>
                                <li class="ln-thirdli">
                                    <span class="ln-line"></span>
                                    <a class="ln-thirdli-a" href="#">内科</a>
                                </li>
                                <li class="ln-thirdli">
                                    <span class="ln-line"></span>
                                    <a class="ln-thirdli-a" href="#">消化科</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</body>
<script src="..\..\js\jquery-1.12.4.js"></script>
<script src="..\..\js\jquery-ui.js"></script>
<script src="..\..\js\jquery.nanoscroller.js"></script>
<script src="..\..\js\components\left_nav.js"></script>
</html>