<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="x-ua-compatible" content="IE=Edge" >
    <meta charset="utf-8">
    <title>业务办理-事项环节树</title>
    <link rel="stylesheet" href="../../css/common/reset.css">
    <link rel="stylesheet" href="../../css/common/base.css">
    <link rel="stylesheet" href="../../css/components/left_nav.css">
    <link rel="stylesheet" href="../../css/components/left_nav_nanoscroller.css">
</head>
<body style="background: #edf0f5; width: 256px;height: 800px;">

<!--事项环节-->
<div class="tab-left-nav">
    <ul class="leftnav-fold">
        <a class="leftnav-flod-icon"></a>
        <li name="tab-left-nav1" class="leftnav-tab-selected"><a href="javascript:void(0)">环节办理</a></li>
        <li name="tab-left-nav2"><a href="javascript:void(0)">代办业务</a></li>
    </ul>
    <div class="tab-div-cont">
        <div class="nano left-nav-scroll" name="tab-left-nav1" style="display: block;">
            <div class="nano-content" >
                <ul class="left-nav">
                    <li class="ln-firstli">
                        <span class="ln-plus-icon"></span>
                        <a class="ln-firstli-a" href="#">环节办理</a>
                        <span class="tips-num">6</span>
                        <ul class="ln-second-nav">
                            <li class="ln-secondli">
                                <span class="ln-line"></span>
                                <span class="ln-plus-icon"></span>
                                <a class="ln-secondli-a" href="#">医疗临床</a>
                                <span class="tips-num">8</span>
                                <ul class="ln-third-nav">
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">内科门诊</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <span class="ln-plus-icon"></span>
                                        <a class="ln-thirdli-a" href="#">急诊科</a>
                                        <ul class="ln-fourth-nav">
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <span class="ln-plus-icon"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科诊室</a>
                                                <ul class="ln-fifth-nav">
                                                    <li class="ln-fifthli">
                                                        <span class="ln-line"></span>
                                                        <a class="ln-fifthli-a" href="#">西药</a>
                                                    </li>
                                                    <li class="ln-fifthli">
                                                        <span class="ln-line"></span>
                                                        <a class="ln-fifthli-a" href="#">中药</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科换药室</a>
                                            </li>
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科注射室</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">耳鼻喉科</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">内科</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">消化科</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="ln-secondli">
                                <span class="ln-line"></span>
                                <span class="ln-plus-icon"></span>
                                <a class="ln-secondli-a" href="#">口腔科</a>
                                <ul class="ln-third-nav">
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">内科门诊</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <span class="ln-plus-icon"></span>
                                        <a class="ln-thirdli-a" href="#">急诊科</a>
                                        <ul class="ln-fourth-nav">
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科诊室</a>
                                            </li>
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科换药室</a>
                                            </li>
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科注射室</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">耳鼻喉科</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">内科</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">消化科</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="ln-firstli">
                        <span class="ln-plus-icon"></span>
                        <a class="ln-firstli-a" href="#">B医院</a>
                        <ul class="ln-second-nav">
                            <li class="ln-secondli">
                                <span class="ln-line"></span>
                                <span class="ln-plus-icon"></span>
                                <a class="ln-secondli-a" href="#">医疗临床</a>
                                <ul class="ln-third-nav">
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">内科门诊</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <span class="ln-plus-icon"></span>
                                        <a class="ln-thirdli-a" href="#">急诊科</a>
                                        <ul class="ln-fourth-nav">
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <span class="ln-plus-icon"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科诊室</a>
                                                <ul class="ln-fifth-nav">
                                                    <li class="ln-fifthli">
                                                        <span class="ln-line"></span>
                                                        <a class="ln-fifthli-a" href="#">西药</a>
                                                    </li>
                                                    <li class="ln-fifthli">
                                                        <span class="ln-line"></span>
                                                        <a class="ln-fifthli-a" href="#">中药</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科换药室</a>
                                            </li>
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科注射室</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">耳鼻喉科</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">内科</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">消化科</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="ln-secondli">
                                <span class="ln-line"></span>
                                <span class="ln-plus-icon"></span>
                                <a class="ln-secondli-a" href="#">口腔科</a>
                                <ul class="ln-third-nav">
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">内科门诊</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <span class="ln-plus-icon"></span>
                                        <a class="ln-thirdli-a" href="#">急诊科</a>
                                        <ul class="ln-fourth-nav">
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科诊室</a>
                                            </li>
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科换药室</a>
                                            </li>
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科注射室</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">耳鼻喉科</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">内科</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">消化科</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nano left-nav-scroll" name="tab-left-nav2" style="display: none;">
            <div class="nano-content">
                <ul class="left-nav">
                    <li class="ln-firstli">
                        <span class="ln-plus-icon"></span>
                        <a class="ln-firstli-a" href="#">代办业务</a>
                        <ul class="ln-second-nav">
                            <li class="ln-secondli">
                                <span class="ln-line"></span>
                                <span class="ln-plus-icon"></span>
                                <a class="ln-secondli-a" href="#">医疗临床</a>
                                <ul class="ln-third-nav">
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">内科门诊</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <span class="ln-plus-icon"></span>
                                        <a class="ln-thirdli-a" href="#">急诊科</a>
                                        <ul class="ln-fourth-nav">
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <span class="ln-plus-icon"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科诊室</a>
                                                <ul class="ln-fifth-nav">
                                                    <li class="ln-fifthli">
                                                        <span class="ln-line"></span>
                                                        <a class="ln-fifthli-a" href="#">西药</a>
                                                    </li>
                                                    <li class="ln-fifthli">
                                                        <span class="ln-line"></span>
                                                        <a class="ln-fifthli-a" href="#">中药</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科换药室</a>
                                            </li>
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科注射室</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">耳鼻喉科</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">内科</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">消化科</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="ln-secondli">
                                <span class="ln-line"></span>
                                <span class="ln-plus-icon"></span>
                                <a class="ln-secondli-a" href="#">口腔科</a>
                                <ul class="ln-third-nav">
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">内科门诊</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <span class="ln-plus-icon"></span>
                                        <a class="ln-thirdli-a" href="#">急诊科</a>
                                        <ul class="ln-fourth-nav">
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科诊室</a>
                                            </li>
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科换药室</a>
                                            </li>
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科注射室</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">耳鼻喉科</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">内科</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">消化科</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="ln-firstli">
                        <span class="ln-plus-icon"></span>
                        <a class="ln-firstli-a" href="#">B医院</a>
                        <ul class="ln-second-nav">
                            <li class="ln-secondli">
                                <span class="ln-line"></span>
                                <span class="ln-plus-icon"></span>
                                <a class="ln-secondli-a" href="#">医疗临床</a>
                                <ul class="ln-third-nav">
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">内科门诊</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <span class="ln-plus-icon"></span>
                                        <a class="ln-thirdli-a" href="#">急诊科</a>
                                        <ul class="ln-fourth-nav">
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <span class="ln-plus-icon"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科诊室</a>
                                                <ul class="ln-fifth-nav">
                                                    <li class="ln-fifthli">
                                                        <span class="ln-line"></span>
                                                        <a class="ln-fifthli-a" href="#">西药</a>
                                                    </li>
                                                    <li class="ln-fifthli">
                                                        <span class="ln-line"></span>
                                                        <a class="ln-fifthli-a" href="#">中药</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科换药室</a>
                                            </li>
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科注射室</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">耳鼻喉科</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">内科</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">消化科</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="ln-secondli">
                                <span class="ln-line"></span>
                                <span class="ln-plus-icon"></span>
                                <a class="ln-secondli-a" href="#">口腔科</a>
                                <ul class="ln-third-nav">
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">内科门诊</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <span class="ln-plus-icon"></span>
                                        <a class="ln-thirdli-a" href="#">急诊科</a>
                                        <ul class="ln-fourth-nav">
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科诊室</a>
                                            </li>
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科换药室</a>
                                            </li>
                                            <li class="ln-fourthli">
                                                <span class="ln-line"></span>
                                                <a class="ln-fourthli-a" href="#">急诊外科注射室</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">耳鼻喉科</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">内科</a>
                                    </li>
                                    <li class="ln-thirdli">
                                        <span class="ln-line"></span>
                                        <a class="ln-thirdli-a" href="#">消化科</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
<script src="..\..\js\jquery-1.12.4.js"></script>
<script src="..\..\js\jquery-ui.js"></script>
<script src="..\..\js\jquery.nanoscroller.js"></script>
<script src="..\..\js\components\left_nav.js"></script>
</html>