<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge" >
    <title>双向选择器</title>
    <link rel="stylesheet" href="/hspszhphtml/css/common/reset.css">
    <link rel="stylesheet" href="/hspszhphtml/css/common/base.css">
    <link rel="stylesheet" href="/hspszhphtml/css/components/twoway_choice.css">

</head>
<body style="background: #edf0f5;width: 90%;height: 600px;">

<div class="twoway-choice">
    <div class="first-choice">
        <h3 class="tws-title">可选项</h3>
        <ul class="tws-ul">
            <li class="tws-li"><a href="#">事业单位现任岗位起始时间</a></li>
            <li class="tws-li"><a href="#">事业单位岗位级别</a></li>
            <li class="tws-li"><a href="#">事业单位岗位类别</a></li>
            <li class="tws-li"><a class="tws-liaselect" href="#">事业单位岗位属性</a></li>
            <li class="tws-li"><a href="#">事业单位岗位属性</a></li>
            <li class="tws-li"><a href="#">事业单位岗位属性</a></li>
            <li class="tws-li"><a href="#">事业单位岗位属性</a></li>
            <li class="tws-li"><a href="#">事业单位岗位属性</a></li>
            <li class="tws-li"><a href="#">事业单位岗位属性</a></li>
            <li class="tws-li"><a href="#">事业单位岗位属性</a></li>
            <li class="tws-li"><a href="#">事业单位岗位属性</a></li>
            <li class="tws-li"><a href="#">事业单位岗位属性</a></li>
            <li class="tws-li"><a href="#">事业单位岗位属性</a></li>
            <li class="tws-li"><a href="#">事业单位岗位属性</a></li>
            <li class="tws-li"><a href="#">事业单位岗位属性</a></li>
            <li class="tws-li"><a href="#">事业单位岗位属性</a></li>
            <li class="tws-li"><a href="#">事业单位岗位属性</a></li>
            <li class="tws-li"><a href="#">事业单位岗位属性</a></li>
            <li class="tws-li"><a href="#">事业单位岗位属性</a></li>
            <li class="tws-li"><a href="#">事业单位岗位属性</a></li>
            <li class="tws-li"><a href="#">事业单位岗位属性</a></li>
        </ul>
    </div>
    <div class="tws-btn">
        <button class="tws-btn-right">选择<span> > </span></button>
        <button class="tws-btn-allright">全选<span> >> </span></button>
        <button class="tws-btn-left">取消<span> < </span></button>
        <button class="tws-btn-allleft">全部取消<span> << </span></button>
    </div>
    <div class="second-choice">
        <h3 class="tws-title">输出项</h3>
        <ul class="tws-ul">
            <li class="tws-li"><a href="#">人员OID</a></li>
            <li class="tws-li"><a href="#">人员排序号</a></li>
            <li class="tws-li"><a href="#">姓名</a></li>
            <li class="tws-li"><a href="#">性别</a></li>
            <li class="tws-li"><a href="#">性别描述</a></li>
            <li class="tws-li"><a href="#">机关</a></li>
            <li class="tws-li"><a href="#">出生日期</a></li>
            <li class="tws-li"><a href="#">身份证号</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>

</body>
<script src="/hspszhphtml/js/jquery-1.12.4.js"></script>
<script src="/hspszhphtml/js/components/twoway_choice.js"></script>
</html>