
body{
    position: relative;
    min-width: 1000px;
}
.black-bg{
    position: absolute;
    top: 0px;
    width: 100%;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    opacity:0.8;
    background: #000;
    z-index: 35;
}
.photo-album{
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 36;
    text-align: center;
}
.img-title{
    position: absolute;
    top: 2%;
    left: 45%;
    text-align: center;
    z-index: 997;
}
.img-title span{
    font-size: 20px;
    color: #fff;
}
.current-number-album{
    color: #0088DB;
}
.div-close-album{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    background: none;
    line-height: 50px;
    text-align: center;
}
.div-close-album:hover{
    background: #020e21;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    opacity:0.9;
}
.close-album{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("../../images/components/album/window-close.png") no-repeat;
}
.div-img{
    display: block;
    position: absolute;
    margin-top: 4%;
    margin-left: 10%;
    width: 80%;
    height: 80%;
    background: #f2f2f2;
    text-align: center;
    overflow: hidden;
    border: 1px solid #fff;
    vertical-align: middle;
}
.img-album{
    position: absolute;
    top: 10%;
    left: 20%;
    display: inline-block;
    width: 60%;
    height: auto;
    cursor: move;
}
.div-arrow-left-album{
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100px;
    height: 700px;
    vertical-align: middle;
    text-align: center;
    z-index: 997;
}
.img-arrow-left-album{
    position: absolute;
    top: 49%;
    left: 48%;
    display: inline-block;
    width: 25px;
    height: 33px;
    background: url("../../images/components/album/arrow-left.png") no-repeat;
    cursor: pointer;
    filter:alpha(opacity=60);
    -moz-opacity:0.6;
    opacity:0.6;
}
.img-arrow-left-album:hover{
    background: url("../../images/components/album/arrow-left-_hover.png") no-repeat;
    opacity: 0.9;
}
/*.div-arrow-right-album:hover,.div-arrow-left-album:hover{
    background: #000;
}*/
.div-arrow-right-album{
    position: absolute;
    top: 100px;
    right: 0px;
    width: 100px;
    height: 700px;
    vertical-align: middle;
    text-align: center;
    z-index: 997;
}
.img-arrow-right-album{
    position: absolute;
    top: 49%;
    right: 48%;
    display: inline-block;
    width: 25px;
    height: 33px;
    background: url("../../images/components/album/arrow-right.png") no-repeat;
    cursor: pointer;
    filter:alpha(opacity=60);
    -moz-opacity:0.6;
    opacity:0.6;
}
.img-arrow-right-album:hover{
    background: url("../../images/components/album/arrow-right-_hover.png") no-repeat;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    opacity:0.9;
}
.img-operate{
    position: absolute;
    bottom: 20px;
    left: 540px;
    text-align: center;
    height: 76px;
    line-height: 80px;
    width: 842px;
    border: 1px solid #000;
    border-radius: 25px;
    background: #000;
    z-index: 999;
    filter:alpha(opacity=60);
    -moz-opacity:0.6;
    opacity:0.6;
}
.img-operate:hover{
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    opacity:0.9;
}
.img-operate i{
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 2px 50px;
    cursor: pointer;
}
.clockwise-rotation-album{
    background: url("../../images/components/album/anticlockwise.png") no-repeat;
}
.clockwise-rotation-album:hover{
    background: url("../../images/components/album/anticlockwise_hover.png") no-repeat;
}
.shrink-album{
    background: url("../../images/components/album/shrink.png") no-repeat;
}
.shrink-album:hover{
    background: url("../../images/components/album/shrink_hover.png") no-repeat;
}
.magnify-album{
    background: url("../../images/components/album/magnify.png") no-repeat;
}
.magnify-album:hover{
    background: url("../../images/components/album/magnify_hover.png") no-repeat;
}
.contra-rotate-album{
    background: url("../../images/components/album/clockwise.png") no-repeat;
}
.contra-rotate-album:hover{
    background: url("../../images/components/album/clockwise-_hover.png") no-repeat;
}