<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="jhcUnitTreeFacade" parent="txnProxyParent">
		<property name="target">
			<bean
				class="com.yh.hr.component.unittree.facade.JhcUnitTreeFacade">
				<property name="jhcUnitTreeService" ref="jhcUnitTreeService" />
			</bean>
		</property>
	</bean>
   <bean id="jhcUnitTreeService" class="com.yh.hr.component.unittree.service.impl.JhcUnitTreeServiceImpl"/>
</beans>
