<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	
    <!--单位信息  freelance-admin -->
	<bean name="saoUserUnitAuthorizationService" class="com.yh.hr.res.sao.unit.impl.SaoUserUnitAuthorizationServiceImpl" >
		<property name="userAuthorizationService" ref="userAuthorizationService"/>
	</bean>
	
</beans>
