@charset "utf-8";

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }
select {
    border: solid 1px #d9dfe9;
    /*将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;
    padding-right: 18px;
    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("../../images/common/arrow-triangle.png") no-repeat scroll right center transparent;
    text-indent: 4px;
}
input{
    text-indent: 4px;
}
input:focus,select:focus,button:focus,div:focus,a:focus,textarea:focus,span:focus{
    outline: none;
}
textarea:focus{border-color:#1cc6a3!important;}
button:hover{
    cursor: pointer;
}
/*滚动条 start*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    background: #fff ;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color:rgba(226, 226, 226, 1);
}
::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color:rgba(206, 206, 206, 1);
}

input,select{
    text-indent: 8px;
}

.padding10{padding: 10px;}
.pt0{
    padding-top: 0px!important;
}
.pl0{
    padding-left: 0px!important;
}
.width200{
    width: 200px!important;
}
.width125{
    width: 125px!important;
}
.height80{
    height: 80px!important;
}
.height130{
    height: 130px!important;
}
.top200{
	top:200px!important;
}
.mr15{
    margin-right: 15px!important;
}
.mt10{margin-top: 10px;}
.mt20{margin-top:20px;}
.b-overflow-hidden{
  overflow:hidden;
}
.overflow-y-auto{
	overflow:auto!important;
}
.fl{float: left;}
.fr{float: right;}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(255, 255, 255);
    background-image: none;
    color: #999999;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}