<div id="transaction_modal_box" class="transaction_modal_box">
    <!-- 头部-->
    <div class="modal-dialog-container">
        <div class="md-title">
            录入办理意见
            <a href="#" class="md-close close-popdown"></a>
        </div>
        <div class="md-main-content">
            <div class="md-approval-select">
                <label><i class="required">*</i>审批环节:</label>
                <select type="text">
                    <option>==请选择==</option>
                    <option>科主任审批</option>
                    <option>护士长审批</option>
                    <option>工会审批</option>
                    <option>医务科审批</option>
                    <option>护理部审批</option>
                    <option>人事部审批</option>
                </select>
            </div>
            <div class="md-approval-textarea">
                <textarea></textarea>
                <div class="md-approval-tips"><i class="required">*</i>你已经输入了<span>2</span>个字，还可以输入<span>200</span>个字</div>
            </div>

        </div>
        <div class="md-btn">
            <button class="md-btn-save close-popdown">提交</button>
            <button class="md-btn-cancel close-popdown">取消</button>
        </div>
    </div>
    <!-- 内容-->

</div>
