<div id="transaction_modal_box" class="transaction_modal_box">
    <!-- 头部-->
    <div class="modal-dialog-container">
        <div class="md-title">
            业务维护 >
            <span>新增</span>
            <a href="#" class="md-close close-popdown"></a>
        </div>
        <div class="md-main-content">
            <!--查询区域-->
            <div class="infoshow-container md-infoshow-area">
                <div class="isc-title-box">
                    <h3 class="md-isc-title">查询</h3>
                </div>
                <div class="md-infoshow-content">
                    <!--查询条件-->
                    <div class="md-units md-three-column clearfix">
                        <dl class="updown-dl">
                            <dt>姓名</dt>
                            <dd><input type="text"></input></dd>
                        </dl>
                        <dl class="updown-dl">
                            <dt>工号</dt>
                            <dd><input type="text"></input></dd>
                        </dl>
                        <dl class="updown-dl">
                            <dt></dt>
                            <dd></dd>
                        </dl>
                        <dl class="updown-dl">
                            <dt>证件类型</dt>
                            <dd><input type="text"></input></dd>
                        </dl>
                        <dl class="updown-dl">
                            <dt>证件号码</dt>
                            <dd><input type="text" class="search-input-error"></input></dd>
                        </dl>
                        <dl class="updown-dl">
                            <button class="md-btn-search btn-search btn-default">查询</button>
                        </dl>
                    </div>
                    <!--查询结果-->
                    <div class="data-units md-search-result" id="data-units2">
                        <dl class="data-unit-dl">
                            <dt>全日制最高学位</dt>
                            <dd>学士</dd>
                        </dl>
                        <dl class="data-unit-dl">
                            <dt>全在职最高学位</dt>
                            <dd>硕士</dd>
                        </dl>
                        <dl class="data-unit-dl">
                            <dt>专业技术资格名称</dt>
                            <dd>副主任药师</dd>
                        </dl>
                        <dl class="data-unit-dl">
                            <dt>全日制最高学位</dt>
                            <dd>学士</dd>
                        </dl>
                        <dl class="data-unit-dl">
                            <dt>全在职最高学位</dt>
                            <dd>硕士</dd>
                        </dl>
                        <dl class="data-unit-dl">
                            <dt>专业技术资格名称</dt>
                            <dd>副主任药师</dd>
                        </dl>
                        <dl class="data-unit-dl">
                            <dt>专业技术资格名称</dt>
                            <dd>副主任药师</dd>
                        </dl>
                        <dl class="data-unit-dl">
                            <dt>专业技术资格名称</dt>
                            <dd>副主任药师</dd>
                        </dl>
                        <dl class="data-unit-dl">
                            <dt>专业技术资格名称</dt>
                            <dd>副主任药师</dd>
                        </dl>
                        <dl class="data-unit-dl">
                            <dt>专业技术资格取得日期</dt>
                            <dd>2017-02-06</dd>
                        </dl>
                        <dl class="data-unit-dl">
                            <dt>技术职称</dt>
                            <dd>副高级</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <!--外出信息录入区域-->
            <div class="infoshow-container">
                <div class="isc-title-box">
                    <h3 class="md-isc-title">外出信息</h3>
                </div>
                <div class="md-infoshow-content">
                    <div class="md-units md-three-column clearfix">
                        <dl>
                            <dt>外出类型</dt>
                            <dd><select type="text">
                                <option>外出1</option>
                                <option>外出2</option>
                            </select></dd>
                        </dl>
                        <dl>
                            <dt>出访机构</dt>
                            <dd><input type="text"></input></dd>
                        </dl>
                        <dl>
                            <dt>外出地点</dt>
                            <dd><input type="text"></input></dd>
                        </dl>
                        <dl>
                            <dt>经费来源</dt>
                            <dd>政府</dd>
                        </dl>
                        <dl>
                            <dt>经费预算</dt>
                            <dd>50000</dd>
                        </dl>
                        <dl>
                            <dt>外出天数</dt>
                            <dd>10天</dd>
                        </dl>
                        <dl>
                            <dt>外出开始时间</dt>
                            <dd>2017/03/20</dd>
                        </dl>
                        <dl>
                            <dt>外出截止时间</dt>
                            <dd>2017/03/20</dd>
                        </dl>
                        <dl>
                            <dt>工作交接人</dt>
                            <dd><input type="text"></input></dd>
                        </dl>
                        <dl>
                            <dt>外出事由</dt>
                            <dd>出差</dd>
                        </dl>
                        <dl class="updown-remark">
                            <dt>备注</dt>
                            <dd><textarea>医院科室...</textarea></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-btn">
            <button class="md-btn-save close-popdown">保存</button>
            <button class="md-btn-cancel close-popdown">取消</button>
        </div>
    </div>
    <!-- 内容-->
</div>
