<div id="transaction_modal_box" class="transaction_modal_box">
    <!-- 头部-->
    <div class="modal-dialog-container">
        <div class="md-title">
            数据集修改页面
            <a href="#" class="md-close close-popdown"></a>
        </div>
        <div class="md-main-content">
            <div class="md-units md-three-column md-unit-hasimg clearfix">
                <dl class="updown-img">
                    <dt><span>照片</span></dt>
                    <dd>
                        <div class="md-unit-img">
                            <img src="../../../images/photo.png"/>
                        </div>
                        <a class="img-upload">
                            <input type="file" >选择照片
                        </a>
                        <p class="md-unit-p" title="图片请小于100K（jpg、png、bmp、gif、tif等）">图片请小于100K（jpg、png、bmp、gif、tif等）</p>
                    </dd>
                </dl>
                <dl >
                    <dt>数据集名称</dt>
                    <dd>表表数据集对应表名</dd>
                </dl>
                <dl >
                    <dt><span>视图SQL</span></dt>
                    <dd><input type="text"></input></dd>
                </dl>
                <dl >
                    <dt><span>数据集对应表名</span></dt>
                    <dd>表表数据集对应表名数据集对应表名数据集对应表名</dd>
                </dl>
                <dl >
                    <dt><span>数据集对应表名</span></dt>
                    <dd><input type="text" class="search-input-error" value="表表数据集对应表名数据集对应表名数据集对应表名"></input></dd>
                </dl>
                <dl >
                    <dt><span>数据集名称</span></dt>
                    <dd><input type="text"></input></dd>
                </dl>
                <dl >
                    <dt><span>数据集名称</span></dt>
                    <dd><input type="text"></input></dd>
                </dl>
                <dl >
                    <dt><span>排序号</span></dt>
                    <dd>
                        <select type="text">
                            <option>错误错误</option>
                            <option>排序1</option>
                            <option>排序2</option>
                        </select>
                    </dd>
                </dl>
                <dl >
                    <dt><span>数据集对应表名</span></dt>
                    <dd>数据集对应表名342</dd>
                </dl>
                <dl >
                    <dt><span>数据集对应表名</span></dt>
                    <dd><input type="text"></input></dd>
                </dl>
                <dl >
                    <dt><span>数据集对应表名</span></dt>
                    <dd>表表数据集对应表名数据集对应表名数据集对应表名</dd>
                </dl>
                <dl >
                    <dt><span>数据集对应表名</span></dt>
                    <dd><input type="text" class="search-input-error" value="表表数据集对应表名数据集对应表名数据集对应表名"></input></dd>
                </dl>
                <dl class="updown-dl updown-remark">
                    <dt>备注</dt>
                    <dd><textarea>请写备注信息</textarea></dd>
                </dl>
            </div>
        </div>
        <div class="md-btn">
            <button class="md-btn-save close-popdown">保存</button>
            <button class="md-btn-cancel close-popdown">取消</button>
        </div>

    </div>
    <!-- 内容-->
</div>
