<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="jhdMtMenuFacade" parent="txnProxyParent">
		<property name="target">
			<bean
				class="com.yh.hr.component.mtree.facade.JhdMtMenuFacade">
				<property name="jhdMtMenuService" ref="jhdMtMenuService" />
			</bean>
		</property>
	</bean>
   <bean id="jhdMtMenuService" class="com.yh.hr.component.mtree.service.impl.JhdMtMenuServiceImpl"/>
</beans>
